/*title*/
h1 {
  text-align: center;
  font-size: xx-large;
  font-family: "Gill Sans", sans-serif; /*comment mon carractere s'affiche*/
  font-style: normal;
  color: rgb(17, 121, 17);
  background-color: yellow;
}

/*Texte introduction*/
p {
  background-color: none; /*pour mettre dans une case*/
  font-family: "Georgia", sans-serif;
  font-style: normal;
}

/*Titre et texte intro*/
p,
h1 {
  padding: 1rem;

  margin: 16px;
}

body {
  background-color: rgb(161, 144, 230);
}
